<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Books Home</title>
  <meta name="description" content="Website for What's My Name?">
<!--{% load static %}-->
  <!--<link rel="stylesheet" type="text/css" href="{% static 'first_app/books_style.css' %}" />-->
</head>
<body>
    <div id="header">
        <a href="/books">Home</a>
        <a href="/logout">Logout</a>
    </div>


    <h2>Add a New Book Title and a Review</h2>
    <form action="/add_book_review/" method="post">
        {% csrf_token %}
        Book Title<input type="text" name="title">

        <h3>Author</h3>

      <select name="author">

        {% for author in authors %}
            <option value="{{ author.id }}">{{ author.name }}</option>
        {% endfor %}
       </select>
       <p>Or add a new author:<input type="text" name="new_author"></p>

        Review:<textarea name="text"></textarea>

        Rating:<select name="rating"> stars
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3>3</option>
            <option value=4>4</option>
            <option value=5>5</option>
        </select>
    <input type="submit" value="Add Book and Review">
    </form>