<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Books Home</title>
  <meta name="description" content="Website for What's My Name?">
{% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'first_app/books_style.css' %}" />
</head>
<body>
    <div id="header">
        <a href="/books">Home</a>
        <a href="/logout">Logout</a>
    </div>
        <h1>{{ current_book.title }} </h1>
        <h2> Author: {{ current_book.author.name }} </h2>

    <div id="reviews">
        <h1>Reviews:</h1>
        <hr>
        {% if book_reviews %}
            {% for review in book_reviews %}
                <h3> Rating: {{ review.rating }}  </h3>
                <h3><a href="/users/{{review.created_by.id}}">{{review.created_by.name}}</a> Says: {{ review.text }} </h3>
                <h3> Posted on {{ review.created_at }}  </h3>
                {% if request.session.user_id == review.created_by.id %}
                    <a href='review/delete/{{review.id}}'>Delete the Review</a>
                {% endif %}
        <hr>
            {% endfor %}
        {% else %}

            <h2>"No book reviews"</h2>
        {% endif %}


        <form action="/add_review/{{current_book.id}}" method="post">
            {% csrf_token %}
        Add a review:<textarea name="text"></textarea>
        <select name="rating">
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3>3</option>
            <option value=4>4</option>
            <option value=5>5</option>
        </select>
        <input type="submit" value="Submit Review">
        </form>
    </div>
