<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Books Home</title>
  <meta name="description" content="Website for What's My Name?">
{% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'first_app/books_style.css' %}" />
</head>
<body>
    <div id="header">
        <a href="/add">Add a Book and Review</a>
        <a href="/logout">Logout</a>
      <h1>Welcome, {{ user.name }} !</h1>
    </div>
  <div id="wrapper">
    <!--{% csrf_token %}-->
      <div id="left">
          <h2 style="background-color:white">Recent book reviews:</h2>
            <hr>
            {% if reviews %}
                {% for review in reviews %}
                     <h2><a href="/books/{{review.book.id}}">{{ review.book.title }}</a></h2>
                     <h3> Rating: {{ review.rating }}  </h3>
                     <h3><a href="/users/{{review.created_by.id}}">{{review.created_by.name}}</a> Says: {{ review.text }} </h3>
                    <h3> Posted on {{ review.created_at }}  </h3>
                    <hr>
                {% endfor %}
            {% else %}
                <h2>"No book reviews"</h2>
            {% endif %}
      </div>
      <div id="right_wrap">
          <h2>Other Books with Reviews:</h2>
          <div id="right">
          {% for book in books %}
            <a href="/books/{{book.id}}">{{ book.title }}</a><br><br><br><br>
          {% endfor %}
          </div>
      </div>
  </div>
</body>











