<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Reviews</title>
</head>
<body>
    <div id="header">
        <a href="localhost:8000/">Home</a>
        <a href="localhost:8000/">Add a Book and Review</a>
        <a href="localhost:8000/">Logout</a>
    </div>
    <div id="wrapper">
        <h3>User Alias: {{ user.alias }}</h3>
        <h4>Name: {{ user.name }}</h4>
        <h4>Email: {{ user.email }}</h4>
        <h4>Total Reviews: {{ count }}</h4>
    </div>
    <h3>Posted Reviews on the following books:</h3>
          {% for review in reviews %}
            <a href="/books/{{review.book.id}}">{{ review.book.title }}</a><br><br>
          {% endfor %}
</body>
</html>