

#left {
    min-height: 30px;
    max-width: 400px;
    border: 2px solid black;
    display: inline-block;
    padding: 5px;
}

#right_wrap {
    display: inline-block;
    vertical-align: top;
}

#right {
    height: 100px;
    max-width: 400px;
    border: 2px solid black;
    overflow: scroll;
    padding: 5px;
}

#right::-webkit-scrollbar {
    width: 10px;
}

#right::-webkit-scrollbar{
    border-radius: 10px;
    -webkit-box-shadow: inset 6px lightblue;
}


