body *{
    font-family: Verdana, arial, sans-serif;
    padding: 0;
    margin: 10px auto; /*makes this central - the view of the website*/
    clear: both; /*clear the float*/
    font-weight: bold;
    background-color: #FFFFFF;
}
#wrapper {
    width: 970px;
    height: 1000px;
    display: inline-block;
    vertical-align: top;
    text-align: center;

}

#registration {
    border: solid 3px black;
    display: inline-block;
    padding: 0px 10px 0px 5px;
    vertical-align: top;
}

#login {
    border: solid 3px black;
    display: inline-block;
    padding: 0px 10px 0px 5px;
}

h1 {
    display: block;
    text-align: left;
    padding-left: 203px;
}

h3 {
    background-color: white;
    position: relative;
    top: -25px;
    left: -80px;
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

form { 
    display: table;
}

p { 
    display: table-row;
}

label { 
    display: table-cell;
}

input { 
    display: table-cell; 
}

.leftcolumn{
    text-align: left;
    padding-right: 20px;
    font-size: 10px;
}

.rightcolumn{
    text-align: right;
}


